body {
    background-color: $main-bg-color;
    padding: 23.47vw 6.4vw;

    @include media-lg {
        padding: 11.83vw 18vw;
    }
}

.home {
    border-radius: 8px;
    overflow: hidden;

    @include media-lg {
        display: flex;
    }
}

section {
    padding: toRem(48) ;

    h2 {
        margin-bottom: toRem(33);
        margin-top: toRem(35);
        text-transform: uppercase;
    }

    p {
        margin-bottom: toRem(31);

        @include media-lg {
            margin-bottom: toRem(89);
        }
    }
}

.sedan {
    background-color: $sedan-color;
}

.suv {
    background-color: $suv-color;
}

.luxury {
    background-color: $luxury-color;
}